bin/
obj/
.vs/
.vscode/
*.user
*.suo
TestResults/
coverage/
*.log
.env
appsettings.Local.json
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
node_modules/
.firebase/
functions/lib/
functions/node_modules/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
